body {
	background: #000000;
	margin: 0;
}

#search-input, #search-input:focus {
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
	border: 0;
	padding: 10px 0px;
	width: 85%;
	text-align: center;
	outline: none;
}

#search-button {
	display: inline-block;
	float: right;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	background-color: #5c79c4;
	padding: 10px 0px;
	width: 15%;
	font-family: arial;
}

#search-button:hover {
	cursor: pointer;
	background-color: #7796e5;
}

#search-button:active {
	cursor:pointer;
	background-color: #5fd378;
}

#container {
	background-image: url('bg-idle.png');
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	margin: 0 auto;
}

#input-div {
	position: absolute;
	width: 100vw;
	bottom: 0px;
	margin: 0;
}


